# Ignore source movies, these need to remain private as per ethics approval
*.mov

# Python (compiled)
*.py[cod]

# OS X
.DS_Store

# Dev misc
*.sublime-workspace

# Vicon Blade document (binary)
*.V

# Bigger than 100mb can't upload to GitHub, these are just txt expansions of the binary adicht
Data - Raw/Breathing Belts/Performance 1 3 pm live.txt
Data - Raw/Breathing Belts/Performance 2 3 pm video.txt
Data - Raw/Breathing Belts/Performance 3 5 pm video.txt
